.card.base
  .d-grid.gap-2.d-md-flex.justify-content-center
    // bring along the zone id
    = link_to new_custom_blacklist_path(zone_id: @zone.id), data: { turbo_frame: "remote_modal" }, class: "btn btn-secondary btn-sm px-3 py-2" do
      i.bi.bi-plus-lg
      |  Single blacklist
    = link_to new_bulk_path(zone_id: @zone.id), data: { turbo_frame: "remote_modal" }, class: "btn btn-secondary btn-sm px-3 py-2" do
      i.bi.bi-plus-lg
      |  Bulk blacklist

/ nav 
/   .nav.nav-tabs#nav-tab role="tablist"
/     / - if @custom_blacklist.errors.any? && @custom_blacklist.kind == "bulk"
/     /   button.nav-link#nav-home-tab data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" Single 
/     /   button.nav-link.active#nav-profile-tab data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" Bulk
/     / - else
/     button.nav-link.active#nav-home-tab data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" Single 
/     button.nav-link#nav-profile-tab data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" Bulk
/ .tab-content#nav-tabContent
/   / - if @custom_blacklist.errors.any? && @custom_blacklist.kind == "bulk"
/   /   .tab-pane.fade#nav-home role="tabpanel" aria-labelledby="nav-home-tab"
/   /     == render "single_form", custom_blacklist: @custom_blacklist, kind: "single"
/   /   .tab-pane.fade.show.active#nav-profile role="tabpanel" aria-labelledby="nav-profile-tab"
/   /     == render "bulk_form", custom_blacklist: @custom_blacklist, kind: "bulk"
/   / - else
/   .tab-pane.fade.show.active#nav-home role="tabpanel" aria-labelledby="nav-home-tab"
/     == render "custom_blacklists/single_form", custom_blacklist: @custom_blacklist, kind: "single"
/   .tab-pane.fade#nav-profile role="tabpanel" aria-labelledby="nav-profile-tab"
/     == render "custom_blacklists/bulk_form", custom_blacklist: @custom_blacklist, kind: "bulk"



