= render "categories/remote_modal", title: "Single Blacklist" do
  == render "single_form", custom_blacklist: @custom_blacklist, kind: "single", zone_id: @zone.id

/ nav 
/   .nav.nav-tabs#nav-tab role="tablist"
/     - if @custom_blacklist.errors.any? && @custom_blacklist.kind == "bulk"
/       button.nav-link#nav-home-tab data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" Single 
/       button.nav-link.active#nav-profile-tab data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" Bulk
/     - else
/       button.nav-link.active#nav-home-tab data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" Single 
/       button.nav-link#nav-profile-tab data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" Bulk
/ .tab-content#nav-tabContent
/   - if @custom_blacklist.errors.any? && @custom_blacklist.kind == "bulk"
/     .tab-pane.fade#nav-home role="tabpanel" aria-labelledby="nav-home-tab"
/       == render "single_form", custom_blacklist: @custom_blacklist, kind: "single"
/     .tab-pane.fade.show.active#nav-profile role="tabpanel" aria-labelledby="nav-profile-tab"
/       == render "bulk_form", custom_blacklist: @custom_blacklist, kind: "bulk"
/   - else
/     .tab-pane.fade.show.active#nav-home role="tabpanel" aria-labelledby="nav-home-tab"
/       == render "single_form", custom_blacklist: @custom_blacklist, kind: "single"
/     .tab-pane.fade#nav-profile role="tabpanel" aria-labelledby="nav-profile-tab"
/       == render "bulk_form", custom_blacklist: @custom_blacklist, kind: "bulk"


  / br

  / div
  /   = link_to "Back to custom blacklists", custom_blacklists_path