.column-data{
    font-size: 14px;
}

.container-feed-title{
    border: 1px black;
    border-style: solid;
    height: 90px;
    border-radius: 10px 10px 0px 0px;
    background-color: #333333;  
}

.category-title {
    color: white;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    
}

.btn-new{
    box-shadow: rgba(209, 213, 216, 0.445) 1px 1px;
}
