.container-top{
    margin-top: 20px;
}
.feeder{
    border: none;
    
}
.dropdown-toggle-show {
    width: 80px;
}

.dropdown-toggle-show::after {
    display: none;
}
i.bi.bi-plus-circle {
    font-size: 30px; /* Set your desired icon size here */
}
.btn-group{
    width: 80px;
    background-color: #1D97C3;
}
.nav-link.active{
    margin: 2px;
    background-color: #efefef;
    border-bottom: solid;
}

.container-feed-delete{
    border: 1px black;
    border-style: solid;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
    background-color: #333333;
}
.delete{
    padding: 10px; //
}
.container-filter{
    border: 1px black;
    border-style: solid;
}
.delete{
    padding: 10px;
}
.ft{
    font-size: 14px;
}
.th{
    font-weight: 300;
    font-size: 12px;
}
.feed-name{
    font-size: 24px;
    color: white;
    padding: 10px;
}
.column-data{
    font-size: 12px;
}

.container-feed-title{
    border: 1px black;
    border-style: solid;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    background-color: #333333;  
    margin-top: 20px;
}

.category-title {
    font-size: 30px;
    color: white;
    padding: 10px;
}