.container_feed {
    width: 40vw;
    background-color: aliceblue;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
select {
    word-wrap: normal;
    display: block;
    margin: 5px 0px 10px 0px;
}