@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

// .noBorder{
//     border: none;
// }
// .noColor{
//     background-color: #EFEFEF;
// }

// .container{
//     background-color: white;
//     padding: 0px 0px 10px 0px;
// }

// .container-feed-delete{
//     border: 1px black;
//     border-style: solid;
//     border-radius: 10px 10px 0px 0px;
//     background-color: #333333;
// }
// .container_not_present{
//     background-color: aqua;
// }

.container_zone {
    width: 35vw;
    background-color: aliceblue;
    margin: 10px 0px 0px 5px;
}
.name{
    font-family: "Rubik";
    font-size: 30px;
}
.desc{
    font-family: "Rubik";
    font-size: 20px;
    margin-bottom: 20px;
}
