.container-feed{
    border-style: solid;
}
.dropdown-toggle-partial{
    background-color: #757373;
}

i.bi.bi-plus-square {
    font-size: 14px; /* Set your desired icon size here */
    color: black;
    margin-left: 10px;
}

